<ion-header>
 <ion-navbar>
    <ion-title><p style="color:white;font-weight: normal;font-size: 20px">
        TCMs
  </p> </ion-title>
 </ion-navbar>
 <ion-slides *ngIf="promotion && promotion.length" autoplay="400" loop="true" speed="3000" pager="true">
    <ion-slide *ngFor ="let p_data of promotion">
              <ion-list>
                  <ion-item style="border: 1px"> 
                        <ion-label style="text-align: center;font-size: 30px" >{{p_data.spc_promotion_name}}</ion-label>
                  </ion-item>
              </ion-list>                                                           
    </ion-slide>
  </ion-slides>
</ion-header>
<ion-content >
    <ion-card *ngFor= "let p2_data of promotion">
        <ion-list>
                <ion-item  >
                    <ion-label style="text-align: left;font-size: 20px">{{p2_data.spc_promotion_name}} </ion-label>                                
                  </ion-item>    
                  <p > {{p2_data.spc_promotion_detail}} </p>             
              </ion-list>
   </ion-card>

</ion-content>
